@{
    ViewBag.Title = "Hoàn tất";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-center my-5">
    <h2 class="text-success mb-3">Đặt hàng thành công!</h2>
    <p>Cảm ơn bạn đã mua hàng. Đơn hàng của bạn đang được xử lý.</p>

    <a href="@Url.Action("TrangChu","SanPham")" class="btn btn-outline-dark btn-sm fw-bold mt-auto btn-back rounded-3">VỀ TRANG CHỦ</a>
</div>
