@{
    ViewBag.Title = "Trang chủ Admin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="admin-home">
    <h1 class="admin-title">Trang chủ Admin</h1>
    <p class="admin-welcome">Chào mừng bạn đến với giao diện quản trị! Chúc bạn một ngày làm việc hiệu quả!</p>
</div>
